.hidden {
  display: none !important;
}

img {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  object-fit: cover;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000000;
}

#login-form {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
#login-form h1 {
  color: #000;
  font-size: 55px;
  font-weight: bold;
}
#login-form div {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
#login-form input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid black;
}

/* button */
#palette {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
}
#palette button {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 12px;
  height: 30px;
  width: 67px;
}

#container {
  padding-top: 30px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* D-day popup */
#dDayPop {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#dDayPop input {
  width: 150px;
}
#dDayBlock {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100px;
}
#dDateSpan {
  font-size: 18px;
}
#dDaySpan {
  font-size: 23px;
}

/* todo */
#toDoPopup {
  width: 300px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  align-content: center;
  text-align: center;
}

#todoListContainer {
  position: absolute;
  bottom: 300px;
  right: 70px;
  background-color: #ffffff66;
  width: 200px;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px 3px;
  border-radius: 12px;
  font-weight: bold;
}

#todoListContainer li:first-child {
  border-top: #000 1px solid;
}
#todoListContainer li {
  border-top: #b5b5b5 1px solid;
  font-size: 17px;
  padding-top: 5px;
  font-weight: normal;
}
#todoListContainer li span {
  padding-right: 5px;
}
#todoListContainer li button {
  background-color: transparent;
  border: none;
}
/* login */
#clock {
  display: flex;
  margin-top: 30px;
  font-size: 150px;
  justify-content: center;
  font-family: fantasy;
  font-weight: bold;
}
#greeting {
  display: flex;
  margin-top: 100px;
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  font-family: fantasy;
}
#quote {
  position: absolute;
  bottom: 30px;
  color: white;
  justify-content: center;
  font-family: fantasy;
}
#quote > span {
  display: flex;
  font-style: italic;
  justify-content: center;
}
#quote > span:last-child {
  margin-top: 5px;
  font-size: small;
}
#weather {
  position: absolute;
  font-family: fantasy;
  top: 20px;
  left: 20px;
  color: #000;
}
