.hidden {
  display: none !important;
}

img {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000000;
}

#login-form {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
}
#login-form h1 {
  color: #000;
  font-size: 30px;
  font-weight: bold;
}
#login-form div {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
#login-form input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid black;
}

/* button */
#palette {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
}

#container {
  padding-top: 60px;
  width: 100%;
  height: 400px;
  margin-top: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
#container button {
  height: 30px;
}
/* login */
#clock {
  display: flex;
  margin-top: 30px;
  font-size: 100px;
  justify-content: center;
  font-family: fantasy;
  font-weight: bold;
}
#greeting {
  display: flex;
  margin-top: 220px;
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  font-family: fantasy;
}
#quote {
  position: absolute;
  bottom: 30px;
  color: white;
  justify-content: center;
  font-family: fantasy;
}
#quote > span {
  display: flex;
  font-style: italic;
  justify-content: center;
}
#quote > span:last-child {
  margin-top: 5px;
  font-size: small;
}
#weather {
  position: absolute;
  font-family: fantasy;
  top: 20px;
  right: 20px;
  color: #fff;
}
